/* This file is part of Flus Design. */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

label {
    display: block;

    font-weight: 600;
}

.label__help {
    color: var(--color-grey-text);
    font-size: var(--font-size-small);
}
