/* This file is part of Flus Design. */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

select {
    --select-color: inherit;
    --select-background-color: var(--color-base);
    --select-border-color: var(--color-grey-solid);
    --select-icon-size: 1.5rem;

    width: 100%;
    padding: var(--space-small);

    color: var(--select-color);
    font-family: inherit;
    font-size: var(--font-size-normal);
    line-height: 1.5;
    text-overflow: ellipsis;

    background-color: var(--select-background-color);
    border: 1px solid var(--select-border-color);
    border-radius: var(--border-radius);

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

select:not([multiple]) {
    padding-right: calc(var(--space-small) * 2 + var(--select-icon-size));

    background-image: url("../../../icons/angle-down.svg");
    background-repeat: no-repeat;
    background-position: right var(--space-small) top 50%;
    background-size: var(--select-icon-size);

    appearance: none;
}

[data-color-scheme="dark"] select:not([multiple]) {
    background-image: url("../../../icons/angle-down-light.svg");
}

select:disabled {
    --select-color: var(--color-grey-text);
    --select-background-color: var(--color-grey-base);
    --select-border-color: var(--color-grey-border);
}

select[aria-invalid="true"] {
    --select-border-color: var(--color-danger-solid);
}
