/* This file is part of Flus Design. */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

input,
textarea {
    --input-color: inherit;
    --input-background-color: var(--color-base);
    --input-border-color: var(--color-grey-solid);

    width: 100%;
    padding: var(--space-small);

    color: var(--input-color);
    font-family: inherit;
    font-size: var(--font-size-normal);
    line-height: 1.5;

    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

textarea {
    max-width: 100%;
    min-height: 10rem;
}

input:disabled,
textarea:disabled {
    --input-color: var(--color-grey-text);
    --input-background-color: var(--color-grey-base);
    --input-border-color: var(--color-grey-border);
}

input[aria-invalid="true"],
textarea[aria-invalid="true"] {
    --input-border-color: var(--color-danger-solid);
}

.input--size1 {
    width: calc(1 * 100% / 12);
}

.input--size2 {
    width: calc(2 * 100% / 12);
}

.input--size3 {
    width: calc(3 * 100% / 12);
}

.input--size4 {
    width: calc(4 * 100% / 12);
}

.input--size5 {
    width: calc(5 * 100% / 12);
}

.input--size6 {
    width: calc(6 * 100% / 12);
}
