/* This file is part of Flus Design. */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.badge {
    --badge-color: var(--color-text);
    --badge-background-color: var(--color-background);
    --badge-border-color: transparent;

    overflow: hidden;

    padding-right: var(--space-smaller);
    padding-left: var(--space-smaller);

    color: var(--badge-color);
    font-size: var(--font-size-small);
    text-decoration: none;
    text-overflow: ellipsis;

    background-color: var(--badge-background-color);
    border: 1px solid var(--badge-border-color);
    border-radius: var(--border-radius);
}

.badge--border {
    --badge-border-color: var(--color-grey-line);
}

.badge--accent {
    --badge-color: var(--color-accent-text);
    --badge-background-color: var(--color-accent-bg);
}

.badge--accent.badge--border {
    --badge-border-color: var(--color-accent-line);
}

.badge--warning {
    --badge-color: var(--color-warning-text-contrast);
    --badge-background-color: var(--color-warning-bg);
}

.badge--warning.badge--border {
    --badge-border-color: var(--color-warning-line);
}

.badge--tag {
    --badge-color: var(--color-gable);
    --badge-background-color: var(--color-accent-solid);
}
