/* This file is part of Flus Design. */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

button,
.button {
    --button-padding: var(--space-smaller) var(--space-small);
    --button-color: currentcolor;
    --button-background-color: transparent;
    --button-border-color: currentcolor;

    display: inline-block;
    padding: var(--button-padding);

    color: var(--button-color);
    font-family: inherit;
    font-size: var(--font-size-normal);
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;

    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    border-radius: var(--border-radius);

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;

    cursor: pointer;
}

button:disabled,
.button:disabled {
    --button-color: var(--color-grey-text);

    cursor: not-allowed;
    filter: grayscale(0.6) opacity(0.7);
}

button:hover:not(:disabled),
.button:hover:not(:disabled),
button[aria-current="page"]:not(:disabled),
.button[aria-current="page"]:not(:disabled),
button[aria-expanded="true"]:not(:disabled),
.button[aria-expanded="true"]:not(:disabled) {
    --button-background-color: rgb(0 0 0 / 0.05);
}

button:active:not(:disabled),
.button:active:not(:disabled) {
    --button-background-color: rgb(0 0 0 / 0.11);
}

.button--primary,
.button--primary:disabled {
    --button-color: var(--color-gable);
    --button-background-color: var(--color-caribbean);
    --button-border-color: transparent;
}

.button--primary:hover:not(:disabled),
.button--primary:active:not(:disabled),
.button--primary[aria-current="page"]:not(:disabled),
.button--primary[aria-expanded="true"]:not(:disabled) {
    --button-background-color: var(--color-topaz);
    --button-border-color: var(--color-accent-border-hover);
}

.button--danger,
.button--danger:disabled {
    --button-color: var(--color-red1);
    --button-background-color: var(--color-red9);
    --button-border-color: transparent;
}

.button--danger:hover:not(:disabled),
.button--danger:active:not(:disabled),
.button--danger[aria-current="page"]:not(:disabled),
.button--danger[aria-expanded="true"]:not(:disabled) {
    --button-background-color: var(--color-danger-solid-hover);
    --button-border-color: var(--color-danger-border-hover);
}

.button--icon {
    --button-padding: var(--space-smaller);

    border-radius: 100%;

    aspect-ratio: 1;
}

@media (max-width: 799px) {
    .button--icon-mobile {
        --button-padding: var(--space-smaller);

        border-radius: 100%;

        aspect-ratio: 1;
    }
}

button:not(.button--icon) .icon--angle-down,
.button:not(.button--icon) .icon--angle-down {
    width: 1.2em;

    vertical-align: middle;
}

@media (max-width: 799px) {
    button.button--icon-mobile .icon--angle-down,
    .button.button--icon-mobile .icon--angle-down {
        width: 1.5em;
    }
}

.button--ghost {
    --button-border-color: transparent;
}

.button--ghost:hover:not(:disabled),
.button--ghost:active:not(:disabled),
.button--ghost[aria-current="page"]:not(:disabled),
.button--ghost[aria-expanded="true"]:not(:disabled) {
    --button-background-color: transparent;
    --button-border-color: var(--color-grey-solid);
}

.button--small {
    --button-padding: 0 var(--space-smaller);
}

.button--big {
    --button-padding: var(--space-small) var(--space-medium);
}

.button--block {
    display: block;
    width: 100%;
}

.button--animated .icon--arrow-right,
.button--animated .icon--arrow-left {
    transition: transform 0.2s ease-in-out;
}

.button--animated:hover .icon--arrow-right,
.button--animated:focus .icon--arrow-right {
    transform: translateX(5px);
}

.button--animated:hover .icon--arrow-left,
.button--animated:focus .icon--arrow-left {
    transform: translateX(-5px);
}

.button--animated .icon--sync {
    animation: icon-spin 5s linear infinite;
}
