/* This file is part of Flus Design. */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.card {
    --card-padding: var(--space-medium);
    --card-color: currentcolor;
    --card-color-secondary: var(--color-grey-text);
    --card-color-anchor: var(--color-accent-text);
    --card-background-color: transparent;

    position: relative;
    display: flex;
    padding: var(--card-padding);

    flex-direction: column;

    color: var(--card-color);

    background-color: var(--card-background-color);
    border-radius: var(--border-radius);
}

.card .text--secondary {
    color: var(--card-color-secondary);
}

.card a:not(.button),
.panel .card a:not(.button) {
    color: var(--card-color-anchor);
}

.card--large {
    --card-padding: var(--space-large);
}

.card--base {
    --card-background-color: var(--color-base);
}

.card--grey {
    --card-color: var(--color-grey-text-contrast);
    --card-background-color: var(--color-grey-bg-subtle);
}

.card--accent {
    --card-color: var(--color-accent-text-contrast);
    --card-color-secondary: var(--color-accent-text);
    --card-background-color: var(--color-accent-bg-subtle);
}

.card--gable {
    --card-color: var(--color-olive-dark12);
    --card-color-anchor: currentcolor;
    --card-color-secondary: var(--color-olive-dark11);
    --card-background-color: var(--color-gable);
}

.card--topaz {
    --card-color: var(--color-rangoon);
    --card-color-anchor: currentcolor;
    --card-color-secondary: var(--color-teal12);
    --card-background-color: var(--color-topaz);
}

.card--caribbean {
    --card-color: var(--color-rangoon);
    --card-color-anchor: currentcolor;
    --card-color-secondary: var(--color-teal12);
    --card-background-color: var(--color-caribbean);
}

.card--danger {
    --card-color: var(--color-white);
    --card-color-anchor: currentcolor;
    --card-color-secondary: var(--color-red-dark12);
    --card-background-color: var(--color-danger-solid);
}

.card__body {
    flex: 1;
}
