/* This file is part of Flus Design. */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.panel {
    --panel-padding: var(--space-medium);
    --panel-color: var(--color-text);
    --panel-color-anchor: var(--color-accent-text);
    --panel-color-secondary: var(--color-grey-text);
    --panel-background-color: var(--color-background);

    padding: var(--panel-padding);

    color: var(--panel-color);

    background-color: var(--panel-background-color);
}

.panel .text--secondary {
    color: var(--panel-color-secondary);
}

.panel a:not(.button) {
    color: var(--panel-color-anchor);
}

.panel--large {
    --panel-padding: var(--space-large) var(--space-medium);
}

.panel--larger {
    --panel-padding: var(--space-larger) var(--space-large);
}

.panel--rounded {
    border-radius: var(--border-radius);
}

.panel--base {
    --panel-background-color: var(--color-base);
}

.panel--grey {
    --panel-color: var(--color-grey-text-contrast);
    --panel-background-color: var(--color-grey-bg-subtle);
}

.panel--accent {
    --panel-color: var(--color-accent-text-contrast);
    --panel-color-secondary: var(--color-accent-text);
    --panel-background-color: var(--color-accent-bg-subtle);
}

.panel--gable {
    --panel-color: var(--color-pampas);
    --panel-color-anchor: currentcolor;
    --panel-color-secondary: var(--color-olive-dark11);
    --panel-background-color: var(--color-gable);
}

.panel--topaz {
    --panel-color: var(--color-rangoon);
    --panel-color-anchor: currentcolor;
    --panel-color-secondary: var(--color-teal12);
    --panel-background-color: var(--color-topaz);
}

.panel--caribbean {
    --panel-color: var(--color-rangoon);
    --panel-color-anchor: currentcolor;
    --panel-color-secondary: var(--color-teal12);
    --panel-background-color: var(--color-caribbean);
}

.panel--danger {
    --panel-color: var(--color-white);
    --panel-color-anchor: currentcolor;
    --panel-color-secondary: var(--color-red-dark12);
    --panel-background-color: var(--color-danger-solid);
}
