/* This file is part of Flus Design. */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

blockquote {
    --blockquote-color: var(--color-text);
    --blockquote-background-color: var(--color-background);
    --blockquote-icon-color: var(--color-topaz);
    --blockquote-icon-position: calc(
        (var(--blockquote-padding-y) - var(--blockquote-icon-size)) /
        2
    );
    --blockquote-icon-size: 1rem;
    --blockquote-padding-x: var(--space-medium);
    --blockquote-padding-y: var(--space-large);

    position: relative;

    margin-left: 0;
    margin-right: 0;
    padding: var(--blockquote-padding-y) var(--blockquote-padding-x);

    color: var(--blockquote-color);
    font-style: italic;

    background-color: var(--blockquote-background-color);
    border-radius: var(--border-radius);
}

@media (min-width: 800px) {
    blockquote {
        --blockquote-padding-x: var(--space-large);
    }
}

blockquote::before {
    content: "";

    position: absolute;
    top: var(--blockquote-icon-position);
    left: calc(-1 * var(--blockquote-icon-size) / 2);

    display: block;
    width: var(--blockquote-icon-size);
    height: var(--blockquote-icon-size);

    background-color: var(--blockquote-icon-color);
    mask-image: url("../../icons/block-quote.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
}

blockquote::after {
    content: "";

    position: absolute;
    top: var(--blockquote-padding-y);
    bottom: var(--blockquote-padding-y);
    left: -1px;

    display: block;
    width: 2px;

    background: var(--blockquote-icon-color);
}

blockquote > *:first-child {
    margin-top: 0;
}

blockquote > *:last-child {
    margin-bottom: 0;
}
