/* This file is part of Flus Design. */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: var(--space-medium);

    color: var(--color-accent-text-contrast);
    font-style: italic;

    background-color: var(--color-accent-bg-subtle);
    border-left: 10px solid var(--color-accent-solid);
    border-radius: var(--border-radius);
}
