/* This file is part of Flus Design. */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

:root {
    --outline-color: var(--color-accent-solid-hover);
    --outline-offset: 2px;
    --outline-width: 2px;
}

*:focus {
    outline: var(--outline-width) solid var(--outline-color);
    outline-offset: var(--outline-offset);
}

.sr-only {
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
}

@media (max-width: 799px) {
    .sr-mobile {
        position: absolute;

        overflow: hidden;
        clip: rect(0, 0, 0, 0);

        width: 1px;
        height: 1px;
    }
}

.accessibility-nav {
    position: fixed;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
}

.accessibility-nav:focus-within {
    top: 0.5rem;
    left: 0.5rem;
    z-index: 1000;

    clip: auto;

    width: auto;
    max-width: 100%;
    height: auto;
}

@media (max-width: 800px) {
    .accessibility-nav:focus-within {
        right: 0.5rem;
    }
}
