/* This file is part of Flus Design. */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.wrapper {
    --wrapper-max-width: 1000px;

    max-width: var(--wrapper-max-width);
}

.wrapper--text {
    --wrapper-max-width: 55ch;
}

.wrapper--smaller {
    --wrapper-max-width: 550px;
}

.wrapper--small {
    --wrapper-max-width: 700px;
}

.wrapper--large {
    --wrapper-max-width: 1200px;
}

.wrapper--larger {
    --wrapper-max-width: 1400px;
}

.wrapper--center {
    margin-right: auto;
    margin-left: auto;
}
