/* This file is part of Flus Design. */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

[data-color-scheme="dark"] {
    color-scheme: dark;

    color: var(--color-text);

    --color-background: var(--color-grey-base);
    --color-text: var(--color-grey-text-contrast);
    --color-base: var(--color-grey-bg);
    --color-box-shadow: rgb(0 0 0 / 50%);

    --color-accent-base: var(--color-teal-dark1);
    --color-accent-bg-subtle: var(--color-teal-dark2);
    --color-accent-bg: var(--color-teal-dark3);
    --color-accent-bg-hover: var(--color-teal-dark4);
    --color-accent-bg-active: var(--color-teal-dark5);
    --color-accent-line: var(--color-teal-dark6);
    --color-accent-border: var(--color-teal-dark7);
    --color-accent-border-hover: var(--color-teal-dark8);
    --color-accent-solid: var(--color-teal-dark9);
    --color-accent-solid-hover: var(--color-teal-dark10);
    --color-accent-text: var(--color-teal-dark11);
    --color-accent-text-contrast: var(--color-teal-dark12);

    --color-grey-base: var(--color-olive-dark1);
    --color-grey-bg-subtle: var(--color-olive-dark2);
    --color-grey-bg: var(--color-olive-dark3);
    --color-grey-bg-hover: var(--color-olive-dark4);
    --color-grey-bg-active: var(--color-olive-dark5);
    --color-grey-line: var(--color-olive-dark6);
    --color-grey-border: var(--color-olive-dark7);
    --color-grey-border-hover: var(--color-olive-dark8);
    --color-grey-solid: var(--color-olive-dark9);
    --color-grey-solid-hover: var(--color-olive-dark10);
    --color-grey-text: var(--color-olive-dark11);
    --color-grey-text-contrast: var(--color-olive-dark12);

    --color-danger-base: var(--color-red-dark1);
    --color-danger-bg-subtle: var(--color-red-dark2);
    --color-danger-bg: var(--color-red-dark3);
    --color-danger-bg-hover: var(--color-red-dark4);
    --color-danger-bg-active: var(--color-red-dark5);
    --color-danger-line: var(--color-red-dark6);
    --color-danger-border: var(--color-red-dark7);
    --color-danger-border-hover: var(--color-red-dark8);
    --color-danger-solid: var(--color-red-dark9);
    --color-danger-solid-hover: var(--color-red-dark10);
    --color-danger-text: var(--color-red-dark11);
    --color-danger-text-contrast: var(--color-red-dark12);

    --color-warning-base: var(--color-orange-dark1);
    --color-warning-bg-subtle: var(--color-orange-dark2);
    --color-warning-bg: var(--color-orange-dark3);
    --color-warning-bg-hover: var(--color-orange-dark4);
    --color-warning-bg-active: var(--color-orange-dark5);
    --color-warning-line: var(--color-orange-dark6);
    --color-warning-border: var(--color-orange-dark7);
    --color-warning-border-hover: var(--color-orange-dark8);
    --color-warning-solid: var(--color-orange-dark9);
    --color-warning-solid-hover: var(--color-orange-dark10);
    --color-warning-text: var(--color-orange-dark11);
    --color-warning-text-contrast: var(--color-orange-dark12);
}
